
<div class="controls" style="margin-top: 10px;" ng-controller="ControlController">
    <h2>Control Panel</h2>

    <div class="row">
        <button type="button" ng-click="sendMessage('NUDGE LEFT')" class="btn btn-default col-md-4">Nudge Left</button>
        <button type="button" ng-click="sendMessage('FORWARD')" class="btn btn-default row col-md-4">Forward</button>
        <button type="button" ng-click="sendMessage('NUDGE RIGHT')" class="btn btn-default col-md-4">Nudge Right</button>

    </div>
    <div class="row">
        <button type="button" ng-click="sendMessage('TURN LEFT')" class="btn btn-default col-md-4">Left</button>
        <button type="button" ng-click="sendMessage('STOP')" class="btn btn-danger col-md-4">Stop</button>
        <button type="button" ng-click="sendMessage('TURN RIGHT')" class="btn btn-default col-md-4 col-md-offset-0">Right</button>
    </div>
    <div class="row">
        <button type="button" ng-click="sendMessage('BACKWARD')" class="btn btn-default col-md-4 col-md-offset-4">Backward</button>
    </div>

</div>
