<div class="localStream" ng-controller="LocalStreamController as localStream">
	<h2>Local Stream</h2>

	<div class="form-group">
		<label for="usr">Name:</label>
		<input ng-model="localStream.name" type="text" class="form-control" id="usr">
	</div>

	<video id="localVideo" muted="muted" autoplay="true"></video>
	<button style="width: 100%;" type="button" ng-click="localStream.toggleCam()" class="btn btn-default row col-md-4">{{ localStream.cameraIsOn ? 'Stop Camera' : 'Start Camera' }}</button>
	<div ng-show="localStream.cameraIsOn">
		<p><%= share %>:</p>
		<a>{{ localStream.link }}</a>
	</div>
	<span class="label label-warning">{{ localStream.error }}</span>
	<div class="form-group">
		<label for="usr">Type a message:</label>
		<input ng-model="localStream.message" type="text" class="form-control" style="width: 83%; float: left;" id="usr">
		<button type="button" class="btn btn-default col-md-2" ng-click="sendMessage()" style="float:right;">Send</button>
	</div>
</div>
